<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.booking.dao.BookingMapper" >
  <resultMap id="BaseResultMap" type="com.project.booking.entity.Booking" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ins_name" property="insName" jdbcType="VARCHAR" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_source" property="proSource" jdbcType="VARCHAR" />
    <result column="pro_number" property="proNumber" jdbcType="VARCHAR" />
    <result column="pro_person" property="proPerson" jdbcType="VARCHAR" />
    <result column="pro_person_mobile" property="proPersonMobile" jdbcType="VARCHAR" />
    <result column="booking_person" property="bookingPerson" jdbcType="VARCHAR" />
    <result column="booking_person_mobile" property="bookingPersonMobile" jdbcType="VARCHAR" />
    <result column="booking_person_number" property="bookingPersonNumber" jdbcType="VARCHAR" />
    <result column="booking_operation_skill" property="bookingOperationSkill" jdbcType="INTEGER" />
    <result column="booking_start_time" property="bookingStartTime" jdbcType="TIMESTAMP" />
    <result column="booking_stop_time" property="bookingStopTime" jdbcType="TIMESTAMP" />
    <result column="auditing" property="auditing" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.project.booking.entity.BookingWithBLOBs" extends="BaseResultMap" >
    <result column="sample" property="sample" jdbcType="LONGVARCHAR" />
    <result column="booking_event" property="bookingEvent" jdbcType="LONGVARCHAR" />
    <result column="fee_scale" property="feeScale" jdbcType="LONGVARCHAR" />
    <result column="fee_source" property="feeSource" jdbcType="LONGVARCHAR" />
    <result column="modify" property="modify" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ins_name, pro_name, pro_source, pro_number, pro_person, pro_person_mobile, booking_person, 
    booking_person_mobile, booking_person_number, booking_operation_skill, booking_start_time, 
    booking_stop_time, auditing
  </sql>
  <sql id="Blob_Column_List" >
    sample, booking_event, fee_scale, fee_source, modify
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from booking
    where id = #{id,jdbcType=INTEGER}
  </select>





  <select id="selectByInsName" resultMap="ResultMapWithBLOBs"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from booking
    where ins_name = #{0} AND auditing = #{1}
  </select>

  <select id="selectforTime" resultMap="ResultMapWithBLOBs"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from booking
    where ins_name = #{0} AND booking_stop_time > #{1} AND (auditing = #{2} OR auditing = #{3})
  </select>



  <select id="selectByperson" resultMap="ResultMapWithBLOBs"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from booking
    where booking_person = #{0} AND auditing = #{1}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from booking
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.booking.entity.BookingWithBLOBs" >
    insert into booking (id, ins_name, pro_name, 
      pro_source, pro_number, pro_person, 
      pro_person_mobile, booking_person, booking_person_mobile, 
      booking_person_number, booking_operation_skill, 
      booking_start_time, booking_stop_time, 
      auditing, sample, booking_event, 
      fee_scale, fee_source, modify
      )
    values (#{id,jdbcType=INTEGER}, #{insName,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, 
      #{proSource,jdbcType=VARCHAR}, #{proNumber,jdbcType=VARCHAR}, #{proPerson,jdbcType=VARCHAR}, 
      #{proPersonMobile,jdbcType=VARCHAR}, #{bookingPerson,jdbcType=VARCHAR}, #{bookingPersonMobile,jdbcType=VARCHAR}, 
      #{bookingPersonNumber,jdbcType=VARCHAR}, #{bookingOperationSkill,jdbcType=INTEGER}, 
      #{bookingStartTime,jdbcType=TIMESTAMP}, #{bookingStopTime,jdbcType=TIMESTAMP}, 
      #{auditing,jdbcType=INTEGER}, #{sample,jdbcType=LONGVARCHAR}, #{bookingEvent,jdbcType=LONGVARCHAR}, 
      #{feeScale,jdbcType=LONGVARCHAR}, #{feeSource,jdbcType=LONGVARCHAR}, #{modify,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.booking.entity.BookingWithBLOBs" >
    insert into booking
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="insName != null" >
        ins_name,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="proSource != null" >
        pro_source,
      </if>
      <if test="proNumber != null" >
        pro_number,
      </if>
      <if test="proPerson != null" >
        pro_person,
      </if>
      <if test="proPersonMobile != null" >
        pro_person_mobile,
      </if>
      <if test="bookingPerson != null" >
        booking_person,
      </if>
      <if test="bookingPersonMobile != null" >
        booking_person_mobile,
      </if>
      <if test="bookingPersonNumber != null" >
        booking_person_number,
      </if>
      <if test="bookingOperationSkill != null" >
        booking_operation_skill,
      </if>
      <if test="bookingStartTime != null" >
        booking_start_time,
      </if>
      <if test="bookingStopTime != null" >
        booking_stop_time,
      </if>
      <if test="auditing != null" >
        auditing,
      </if>
      <if test="sample != null" >
        sample,
      </if>
      <if test="bookingEvent != null" >
        booking_event,
      </if>
      <if test="feeScale != null" >
        fee_scale,
      </if>
      <if test="feeSource != null" >
        fee_source,
      </if>
      <if test="modify != null" >
        modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="insName != null" >
        #{insName,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proSource != null" >
        #{proSource,jdbcType=VARCHAR},
      </if>
      <if test="proNumber != null" >
        #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proPerson != null" >
        #{proPerson,jdbcType=VARCHAR},
      </if>
      <if test="proPersonMobile != null" >
        #{proPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="bookingPerson != null" >
        #{bookingPerson,jdbcType=VARCHAR},
      </if>
      <if test="bookingPersonMobile != null" >
        #{bookingPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="bookingPersonNumber != null" >
        #{bookingPersonNumber,jdbcType=VARCHAR},
      </if>
      <if test="bookingOperationSkill != null" >
        #{bookingOperationSkill,jdbcType=INTEGER},
      </if>
      <if test="bookingStartTime != null" >
        #{bookingStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingStopTime != null" >
        #{bookingStopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditing != null" >
        #{auditing,jdbcType=INTEGER},
      </if>
      <if test="sample != null" >
        #{sample,jdbcType=LONGVARCHAR},
      </if>
      <if test="bookingEvent != null" >
        #{bookingEvent,jdbcType=LONGVARCHAR},
      </if>
      <if test="feeScale != null" >
        #{feeScale,jdbcType=LONGVARCHAR},
      </if>
      <if test="feeSource != null" >
        #{feeSource,jdbcType=LONGVARCHAR},
      </if>
      <if test="modify != null" >
        #{modify,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.booking.entity.BookingWithBLOBs" >
    update booking
    <set >
      <if test="insName != null" >
        ins_name = #{insName,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proSource != null" >
        pro_source = #{proSource,jdbcType=VARCHAR},
      </if>
      <if test="proNumber != null" >
        pro_number = #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proPerson != null" >
        pro_person = #{proPerson,jdbcType=VARCHAR},
      </if>
      <if test="proPersonMobile != null" >
        pro_person_mobile = #{proPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="bookingPerson != null" >
        booking_person = #{bookingPerson,jdbcType=VARCHAR},
      </if>
      <if test="bookingPersonMobile != null" >
        booking_person_mobile = #{bookingPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="bookingPersonNumber != null" >
        booking_person_number = #{bookingPersonNumber,jdbcType=VARCHAR},
      </if>
      <if test="bookingOperationSkill != null" >
        booking_operation_skill = #{bookingOperationSkill,jdbcType=INTEGER},
      </if>
      <if test="bookingStartTime != null" >
        booking_start_time = #{bookingStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingStopTime != null" >
        booking_stop_time = #{bookingStopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditing != null" >
        auditing = #{auditing,jdbcType=INTEGER},
      </if>
      <if test="sample != null" >
        sample = #{sample,jdbcType=LONGVARCHAR},
      </if>
      <if test="bookingEvent != null" >
        booking_event = #{bookingEvent,jdbcType=LONGVARCHAR},
      </if>
      <if test="feeScale != null" >
        fee_scale = #{feeScale,jdbcType=LONGVARCHAR},
      </if>
      <if test="feeSource != null" >
        fee_source = #{feeSource,jdbcType=LONGVARCHAR},
      </if>
      <if test="modify != null" >
        modify = #{modify,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.booking.entity.BookingWithBLOBs" >
    update booking
    set ins_name = #{insName,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR},
      pro_source = #{proSource,jdbcType=VARCHAR},
      pro_number = #{proNumber,jdbcType=VARCHAR},
      pro_person = #{proPerson,jdbcType=VARCHAR},
      pro_person_mobile = #{proPersonMobile,jdbcType=VARCHAR},
      booking_person = #{bookingPerson,jdbcType=VARCHAR},
      booking_person_mobile = #{bookingPersonMobile,jdbcType=VARCHAR},
      booking_person_number = #{bookingPersonNumber,jdbcType=VARCHAR},
      booking_operation_skill = #{bookingOperationSkill,jdbcType=INTEGER},
      booking_start_time = #{bookingStartTime,jdbcType=TIMESTAMP},
      booking_stop_time = #{bookingStopTime,jdbcType=TIMESTAMP},
      auditing = #{auditing,jdbcType=INTEGER},
      sample = #{sample,jdbcType=LONGVARCHAR},
      booking_event = #{bookingEvent,jdbcType=LONGVARCHAR},
      fee_scale = #{feeScale,jdbcType=LONGVARCHAR},
      fee_source = #{feeSource,jdbcType=LONGVARCHAR},
      modify = #{modify,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.booking.entity.Booking" >
    update booking
    set ins_name = #{insName,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR},
      pro_source = #{proSource,jdbcType=VARCHAR},
      pro_number = #{proNumber,jdbcType=VARCHAR},
      pro_person = #{proPerson,jdbcType=VARCHAR},
      pro_person_mobile = #{proPersonMobile,jdbcType=VARCHAR},
      booking_person = #{bookingPerson,jdbcType=VARCHAR},
      booking_person_mobile = #{bookingPersonMobile,jdbcType=VARCHAR},
      booking_person_number = #{bookingPersonNumber,jdbcType=VARCHAR},
      booking_operation_skill = #{bookingOperationSkill,jdbcType=INTEGER},
      booking_start_time = #{bookingStartTime,jdbcType=TIMESTAMP},
      booking_stop_time = #{bookingStopTime,jdbcType=TIMESTAMP},
      auditing = #{auditing,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>