<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.instrument.dao.InstrumentMapper" >
  <resultMap id="BaseResultMap" type="com.project.instrument.entity.Instrument" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ins_name" property="insName" jdbcType="VARCHAR" />
    <result column="ins_type" property="insType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="make" property="make" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.project.instrument.entity.InstrumentWithBLOBs" extends="BaseResultMap" >
    <result column="tech_target" property="techTarget" jdbcType="LONGVARCHAR" />
    <result column="function" property="function" jdbcType="LONGVARCHAR" />
    <result column="application" property="application" jdbcType="LONGVARCHAR" />
  </resultMap>



  <sql id="Base_Column_List" >
    id, ins_name, ins_type, status, admin_name, image, make, address
  </sql>
  <sql id="Blob_Column_List" >
    tech_target, function, application
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from instrument
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectByUserId" resultMap="ResultMapWithBLOBs"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from instrument
    where admin_name = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectByAll" resultMap="ResultMapWithBLOBs" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from instrument
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from instrument
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.instrument.entity.InstrumentWithBLOBs" >
    insert into instrument (id, ins_name, ins_type, 
      status, admin_name, image, 
      make, address, tech_target, 
      function, application)
    values (#{id,jdbcType=INTEGER}, #{insName,jdbcType=VARCHAR}, #{insType,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{adminName,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, 
      #{make,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{techTarget,jdbcType=LONGVARCHAR}, 
      #{function,jdbcType=LONGVARCHAR}, #{application,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.instrument.entity.InstrumentWithBLOBs" >
    insert into instrument
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="insName != null" >
        ins_name,
      </if>
      <if test="insType != null" >
        ins_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="make != null" >
        make,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="techTarget != null" >
        tech_target,
      </if>
      <if test="function != null" >
        function,
      </if>
      <if test="application != null" >
        application,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="insName != null" >
        #{insName,jdbcType=VARCHAR},
      </if>
      <if test="insType != null" >
        #{insType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="make != null" >
        #{make,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="techTarget != null" >
        #{techTarget,jdbcType=LONGVARCHAR},
      </if>
      <if test="function != null" >
        #{function,jdbcType=LONGVARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.instrument.entity.InstrumentWithBLOBs" >
    update instrument
    <set >
      <if test="insName != null" >
        ins_name = #{insName,jdbcType=VARCHAR},
      </if>
      <if test="insType != null" >
        ins_type = #{insType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="make != null" >
        make = #{make,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="techTarget != null" >
        tech_target = #{techTarget,jdbcType=LONGVARCHAR},
      </if>
      <if test="function != null" >
        function = #{function,jdbcType=LONGVARCHAR},
      </if>
      <if test="application != null" >
        application = #{application,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.instrument.entity.InstrumentWithBLOBs" >
    update instrument
    set ins_name = #{insName,jdbcType=VARCHAR},
      ins_type = #{insType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      make = #{make,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tech_target = #{techTarget,jdbcType=LONGVARCHAR},
      function = #{function,jdbcType=LONGVARCHAR},
      application = #{application,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.instrument.entity.Instrument" >
    update instrument
    set ins_name = #{insName,jdbcType=VARCHAR},
      ins_type = #{insType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      make = #{make,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>