<!DOCTYPE html>
<html lang="xw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大型仪器设备预约管理系统</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/script/jquery-3.1.1.min_1.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/script/index.js"></script>
    <script src="/static/script/login.js"></script>
</head>
<body style="background: #F0F0F4">
<!--[if lte IE8]>
<p class="browserupdate">您的浏览器版本太老，请到<a href="http://browsehappy.com">这里</a>更新，以获取最佳的浏览体验。</p>
<![endif]-->
<header>
    <div class="logo">
        <a href="/index"><img src="/static/images/logo.png" alt="大型仪器设备预约管理系统logo" class="logo-img vertical-center"></a>
##        <h1 class="vertical-center">分析测试中心预约系统</h1>
    </div>
    <div class="logoff">
        <a href="/index/login" id="lg"><em class="username">登录</em></a>
        <a href="/index/login" id="logout"><img src="/static/images/out.png" alt="注销登录"></a>
    </div>
</header><!-- header结束 -->
<!--中间部分-->
<div class="layui-carousel" id="banner" style="left: 21%;">
    <div carousel-item>
        <div>
            <img src="/static/images/banner1.png" alt="">
        </div>
        <div>
            <img src="/static/images/sy2.jpg" alt="">
        </div>
        <div>
            <img src="/static/images/banner1.png" alt="">
        </div>
        <div>
            <img src="/static/images/sy2.jpg" alt="">
        </div>
        <div>
            <img src="/static/images/banner1.png" alt="">
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <table style="position:relative;border-radius: 8px;border:1px solid #ccc;width: 93.8%;height: 30px;margin-left: 2.7%;">
            <tr>
                <td colspan="3" style="height: 80px;width: 150px;text-align: center;border: 1px solid #ccc;font-size: 22px;">Nova Nano SEM 450热场发射扫描电子显微镜</td>
            </tr>
            <tr>
                <td rowspan="4" style="height: 30px;width:20%;text-align:center;border: 1px solid #ccc">
                    <img src="/static/images/Nova.png" width="400"height="250" style="padding: 10px;">
                </td>
                <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">仪器名称</td>
                <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">Nova Nano SEM 450热场发射扫描电子显微镜</td>
            </tr>
            <tr>
                <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">仪器型号</td>
                <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc"> Nova Nano SEM 450</td>
            </tr>
            <tr>
                <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">制造厂商</td>
                <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">FEI Company (美国FEI公司)</td>
            </tr>
            <tr>
                <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">放置地址</td>
                <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">采矿楼一楼</td>
            </tr>
            <tr>
                <td style="height: 50px;width: 20%;text-align: center;border: 1px solid #ccc">预约联系人</td>
                <td colspan="2"style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc">仪器专管员：肖立华 博士 联系电话:18275081939</td>
            </tr>
            <tr>
                <td colspan="3" style="height: 50px;width: 150px;text-align: center;border: 1px solid #ccc">主要技术指标</td>
            </tr>
            <tr>
                <td colspan="3" style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc;padding: 10px;">
                    <p style="margin-left: -30%;">1．分辨率</p>
                    <p style="margin-left: -20%;">二次电子（SE）像  </p>
                    <p style="margin-left: -4%;">高真空模式　1.0 nm @ 15 kV; 1.4 nm @ 1kV</p>
                    <p style="margin-left: -4%;">低真空模式　1.5 nm @ 10 kV; 1.8 nm @ 3kV</p>
                    <p style="margin-left: 17%;">放大倍率：35～900 000倍，根据加速电压和工作距离的改变，放大倍数自动校准。</p>
                    <p style="margin-left: -7.5%;">2 ．加速电压：0.2 – 30 kV   着陆电压：0.05-30 kV</p>
                    <p style="margin-left: 3.5%;">3 ．样品室：样品室左右内径：大于379 mm，可安装EDS＋EBSD附件</p>
                    <p style="margin-left: 11.2%;">4 ．样品台：五轴马达驱动样品台，最大移动范围指标：X=Y=110 mm，z=25 mm.</p>
                    <p style="margin-left: -23.5%;">5 ．连续旋转：R=360°</p>
                    <p style="margin-left: -20.5%;">6 ．倾斜角T范围：-15°~70°</p>
                    <p style="margin-left: -29.5%;">7 ．探测器：</p>
                    <p>
                        ①．二次电子探头：E-T二次电子检测器，TLD-SE极靴内二次电子检测器，TLD-BSE极靴内背散射电子检测器，LVD低真空二次电子探测器；Helix 低真空超高分辨二次电子探测器

                        ②．背散射电子探头：低电压取向背散射电子检测器（DBS）

                        ③．样品室IR-CCD相机
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height: 50px;width: 150px;text-align: center;border: 1px solid #ccc">仪器功能及主要附件</td>
            </tr>
            <tr>
                <td colspan="3" style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc;padding: 10px;">
                    <p style="margin-left: 15%">主要用于观察、分析和记录材料的微观形貌，通过配备EDS、EBSD等进行材料组成与结构分析。</p>
                    <p style="margin-left: -4.5%;">1．具有高真空和低真空(<200 Pa)两种模式。</p>
                    <p style="margin-left: 33.5%;">2．EDAX公司能谱仪（EDS）与电子背散射衍射（EBSD）一体化系统。定位并进行拉曼成像，进行分散的多点、线、面扫描和共焦深度的扫描成像等各种检测方式。</p>
                    <p style="margin-left: -20.5%;">3．喷金一体化。</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height: 50px;width: 150px;text-align: center;border: 1px solid #ccc">应用范围</td>
            </tr>
            <tr>
                <td colspan="3" style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc;padding: 10px;">
                    <p style="margin-left: 0">样品的形貌分析；微区成份和含量分析；微区取向、微观织构分析，晶体结构分析，物相分析等。</p>
                </td>
            </tr>
        </table>
        <a href="/index"><button type="button">返回首页</button></a>
        <a href="/index/order"><button type="button" style="float: right;margin-right: 3%;">立即预约</button></a>
    </div>
</div><!--中间部分结束-->
<!--底部-->
<div class="container-fluid" style="border-top: 1px solid #00B7EE;">
    <div class="row" style="text-align: center;">
        <p style="height: 20px;padding-top: 45px;margin-bottom:70px;">@</p>
    </div>
</div>
<!--底部结束-->
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banner'
            ,width: '57.6%' //设置容器宽度
            ,height: '330px'
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>