<!DOCTYPE html>
<html lang="xw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大型仪器设备预约管理系统</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/script/jquery-3.1.1.min_1.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/script/index.js"></script>
    <script src="/static/script/login.js"></script>
</head>
<body style="background: #F0F0F4">
<!--[if lte IE8]>
<p class="browserupdate">您的浏览器版本太老，请到<a href="http://browsehappy.com">这里</a>更新，以获取最佳的浏览体验。</p>
<![endif]-->
<header>
    <div class="logo">
        <a href="/index"><img src="/static/images/logo.png" alt="大型仪器设备预约管理系统logo" class="logo-img vertical-center"></a>
##        <h1 class="vertical-center">分析测试中心预约系统</h1>
    </div>
    <div class="logoff">
        <a href="" id="lg"><em class="username">登录</em></a>
        <a href="/index/login" id="logout"><img src="/static/images/out.png" alt="注销登录"></a>
    </div>
</header><!-- header结束 -->
<!--中间部分-->
<div class="layui-carousel" id="banner" style="left: 21%;">
    <div carousel-item>
        <div>
            <img src="/static/images/banner1.png" alt="">
        </div>
        <div>
            <img src="/static/images/sy2.jpg" alt="">
        </div>
        <div>
            <img src="/static/images/banner1.png" alt="">
        </div>
        <div>
            <img src="/static/images/sy2.jpg" alt="">
        </div>
        <div>
            <img src="/static/images/banner1.png" alt="">
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px;">
        <div class="row">
            <table style="position:relative;border-radius: 8px;border:1px solid #ccc;width: 93.8%;height: 30px;margin-left: 2.7%;">
                <tr>
                    <td colspan="3" style="height: 80px;width: 150px;text-align: center;border: 1px solid #ccc;font-size: 22px;">显微共焦拉曼光谱仪</td>
                </tr>
                <tr>
                    <td rowspan="4" style="height: 30px;width:20%;text-align:center;border: 1px solid #ccc">
                        <img src="/static/images/dxr.jpg" width="400"height="250" style="padding: 10px;">
                    </td>
                    <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">仪器名称</td>
                    <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">显微共焦拉曼光谱仪</td>
                </tr>
                <tr>
                    <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">仪器型号</td>
                    <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">DXR</td>
                </tr>
                <tr>
                    <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">制造厂商</td>
                    <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">赛默飞世尔科技有限公司</td>
                </tr>
                <tr>
                    <td style="height: 30px;width: 20%;text-align: center;border: 1px solid #ccc">放置地址</td>
                    <td style="height: 30px;width: 60%;text-align: center;border: 1px solid #ccc">采矿楼一楼</td>
                </tr>
                <tr>
                    <td style="height: 50px;width: 20%;text-align: center;border: 1px solid #ccc">预约联系人</td>
                    <td colspan="2"style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc">仪器专管员：吴德智 联系电话:18970080479</td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 50px;width: 150px;text-align: center;border: 1px solid #ccc">主要技术指标</td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc;padding: 10px;">
                        <p style="margin-left: 0">1．拉曼频移范围：全光谱范围内可快速连续扫描，无接谱。其中：</p>
                        <p>(1) 532 nm 激发波长，光谱范围：50-3550 cm-1;</p>
                        <p style="padding-left: 11%;">(2) 785 nm 激发波长，光谱范围：50-3200 cm-1，通光效率≥30％。</p>
                        <p style="margin-left: 6%;">2．灵敏度：硅三阶峰（约在1440 cm-1）信噪比>20:1，并能观察到四阶峰。</p>
                        <p style="margin-left: -20%;">3．光谱重复率：≤±0.2 cm-1。</p>
                        <p style="margin-left: -10%;">4．光谱分辨率：或<1 cm-1最高可达0.5 cm-1。</p>
                        <p style="margin-left: -20%;">5．光谱范围：220-1100 nm。</p>
                        <p style="margin-left: 6px;">6．光栅：使用900、1800刻线/mm光栅，并能软件控制自动转换。</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 50px;width: 150px;text-align: center;border: 1px solid #ccc">仪器功能及主要附件</td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc;padding: 10px;">
                        <p style="margin-left: 15%">1．共焦显微系统：配置带高精度的拉曼三维扫描成像自动平台反馈控制系统，可进行分散的多点、线、面扫描和共焦深度的扫描成像，包括：<br>a. XYZ自动平台，扫描范围：X ≥100 mm，Y ≥70 mm。</p>
                        <p style="margin-left: 4.5%;">2．在拉曼光谱上耦合TCSPC，配备375 nm、473 nm、785 nm皮秒级二极管激光器。荧光寿命检测时间范围从100 ps起。</p>
                        <p style="margin-left: 17%;">3．配有2台激光器：波长分别为532 nm和785 nm，除了进行拉曼光谱分析外，还可开展光致发光的研究。可对样品测量部位实现精确的自动<br>定位并进行拉曼成像，进行分散的多点、线、面扫描和共焦深度的扫描成像等各种检测方式。</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 50px;width: 150px;text-align: center;border: 1px solid #ccc">应用范围</td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 30px;width: 80%;text-align: center;border: 1px solid #ccc;padding: 10px;">
                        <p style="margin-left: 0">拉曼光谱是研究物质分子结构的有力工具，广泛地应用于物理、化学、生物学、材料科学、环境科学、石油化工等领域，可进行未知物的无损鉴定，特别适合于材料微结构的研究。该仪器除了进行拉曼光谱分析外，还可开展光致发光以及发光寿命的研究。</p>
                    </td>
                </tr>
            </table>
            <a href="/index"><button type="button">返回首页</button></a>
            <a href="/index/order"><button type="button" style="float: right;margin-right: 3%;">立即预约</button></a>
        </div>
</div><!--中间部分结束-->
<!--底部-->
<div class="container-fluid" style="border-top: 1px solid #00B7EE;">
    <div class="row" style="text-align: center;">
        <p style="height: 20px;padding-top: 45px;margin-bottom:70px;">@</p>
    </div>
</div>
<!--底部结束-->
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banner'
            ,width: '57.6%' //设置容器宽度
            ,height: '330px'
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>